<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
    <base href="../">
	{{ partial "head.html" . }}

	<div class="container with-side-section wrapper post">
		<div class="main section">
			<div class="post-header">
				<h1 class="title">{{ dateFormat "2006-01-02" .File.ContentBaseName }}{{ .Title }}</h1>
			</div>
			<div class="markdown">
				{{ $content := replaceRE `<p>(.*?)(?:\!\[\[(.*?\.(webm|mp4))\]\])(.*?)<\/p>` `$1<video controls width="100%" preload="metadata"><source src="$2" type="video/$3"></video>$4` .Content }}
				{{ $content | safeHTML }}
			</div>
		</div>
		<div class="side section">
			{{ partial "author.html" . }}
			<h2 class="section-header">Category</h2>
			<a href="all/">All posts</a>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
