<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<base href="/diary/">
	{{ partial "head.html" . }}
	<div class="container with-side-section wrapper">
		{{ with .Content }}{{ . }}{{ end }}
		<div class="main section">
			<div class="recent-posts">
				<h2 class="section-header">Recent posts</h2>
				<div class="posts">
					{{ $pages := .Site.RegularPages.Reverse }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<div class="post">
						<div class="markdown">
							<a class="title" href="{{ .RelPermalink }}">{{ .Title | default (dateFormat "2006-01-02" .File.ContentBaseName) }}</a>
							<span class="content">
								{{ $content := replaceRE `<p>(.*?)(?:\!\[\[(.*?\.(webm|mp4))\]\])(.*?)<\/p>` `$1<video controls width="100%" preload="metadata"><source src="$2" type="video/$3"></video>$4` .Content }}
								{{ $content | safeHTML }}
							</span>
						</div>
					</div>
					{{ end }}
				</div>
				{{ template "partials/paginator.html" . }}
			</div>	
		</div>
		<div class="side section">
			{{ partial "author.html" . }}
			<h2 class="section-header">Category</h2>
			<a href="all/">All posts</a>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
